# Folder modules
node_modules

# Code compiled 
build

# Files .rest 
API

# priate image
idk.jpg

# settings of vscode
.vscode

# .exe 
User.exe

# C++ 
C++

#  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
index.b